.ranking-list {
  h1 {
    font-size: 72px;
    text-transform: uppercase;
    line-height: 82px;
    font-weight: 700;
    font-family: SVN-Transformer;
  }
  .nft-search {
    margin-top: -10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .chakra-table {
    margin-top: 38px;
    tbody {
      tr {
        .collection {
          display: flex;
          align-items: center;
          img {
            width: 56px;
            height: 56px;
          }
          span {
            margin-left: 10px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
