.select-sort {
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #D7D7D7;
    float: right;

    &.price-sort {
        margin-right: 8px;

        .select-button,
        .select-list {
            img {
                width: 20px;
                margin-right: 8px;
            }
        }
    }

    .select-button {
        span {
            display: flex;
        }
    }

    .select-list {
        background: linear-gradient(121.07deg, rgba(255, 255, 255, 0.3) -26.88%, rgba(255, 255, 255, 0.2) 73.85%);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(40px);

        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            top: 0;
            right: 0;
            background: url(/common/menu-corner.png);
            border-top-right-radius: 5px;
        }
    }
}