.activities-page {
  width: 100%;
  margin: 44px auto auto;
  max-width: 1242px;
  background: transparent;
  margin-top: 45px;
  h1 {
    &.activities {
      font-size: 72px;
      font-weight: 700;
      font-family: SVN-Transformer;
      transition: 0.5s;
      text-transform: uppercase;
      @include to(sm) {
        font-size: 50px;
      }
    }
  }
  .table-activity {
    margin-top: 30px;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    font-style: normal;
    color: #ffffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    thead {
      tr {
        border-bottom: 1px solid #d7d7d7 !important;
        th {
          font-weight: bold;
          font-size: 24px;
          line-height: 38px;
          color: #ffffff;
          font-family: Saira;
          text-transform: capitalize;
          padding-top: 25px;
          border-bottom-color: #d7d7d7;
          border: none;
        }
      }
    }
    tr {
      border-bottom: 1px solid #d7d7d7;
      &:last-child {
        border-bottom: 0px;
      }
    }
    td {
      border-bottom: none;
      font-size: 18px;
      line-height: 28px;

      .type {
        img {
          margin-right: 15px;
        }
      }
      .date {
        cursor: pointer;
        img {
          margin-left: 15px;
        }
      }
    }
  }
}
.align-center {
  display: flex;
  align-items: center;
}
.sort {
  display: flex;
  justify-content: flex-end;

  .select-sort {
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #d7d7d7;
    float: right;

    &.price-sort {
      margin-right: 8px;

      .select-button,
      .select-list {
        img {
          width: 20px;
          margin-right: 8px;
        }
      }
    }

    .select-button {
      span {
        display: flex;
      }
    }

    .select-list {
      background: linear-gradient(
        126.08deg,
        rgba(255, 255, 255, 0.3) 13.84%,
        rgba(255, 255, 255, 0.1) 74.14%
      );
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(40px);

      &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        right: 0;
        background: url(/common/menu-corner.png);
        border-top-right-radius: 5px;
      }
    }
  }
}
