.my-nft {
  width: 100%;
  margin: auto;
  margin-top: 44px;
  max-width: 1242px;
  .account {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
    .left {
      width: 153px;
      margin-right: 37px;
    }
    .right {
      .top {
        display: flex;
        align-items: center;
        h2 {
          font-weight: 700;
          font-size: 36px;
          line-height: 42px;
          margin-right: 21px;
        }
        img {
          width: 50px;
        }
      }
      .bottom {
        margin-top: 17px;
        height: 48px;
        width: 230px;
        background: #030348;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        cursor: pointer;
        span {
          font-weight: 400;
          font-size: 18px;
          line-height: 29px;
        }
      }
    }
  }
  .container {
    .chakra-tabs__tab-panel {
      padding: 0;
    }
    .chakra-tabs__tablist {
      border: none;
      width: 80%;
      margin: auto;
      margin-bottom: 56px;
      button {
        width: 20%;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        &:focus {
          box-shadow: none;
        }
        &:active {
          background-color: transparent;
        }
      }
      button[aria-selected="true"] {
        color: #0bebd6;
      }
    }
    h3 {
      font-family: SVN-Transformer;
      font-weight: 700;
      font-size: 72px;
      line-height: 83px;
    }
    .tab {
      .tab-sort {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .chakra-tabs__tablist {
          display: flex;
          justify-content: flex-start !important;
          margin: 0;
          width: fit-content;
          button {
            width: 120px;
            font-weight: 600;
            font-size: 18px;
            line-height: 29px;
            text-align: center;
            white-space: nowrap;
          }
        }
        .right {
          display: flex;
          justify-items: flex-end;
        }
      }
      .offering-auction {
        .list {
          margin-top: 35px;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-row-gap: 20px;
          grid-column-gap: 24px;
        }
      }
      .offering-make {
        .list {
          height: 100px;
          margin-top: 40px;
          border-radius: 10px;
          border: 1px solid #d7d7d7;
          background: linear-gradient(
            126.08deg,
            rgba(255, 255, 255, 0.3) 13.84%,
            rgba(255, 255, 255, 0.1) 74.14%
          );
          box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.2);
          backdrop-filter: blur(40px);
          width: 100%;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          padding-left: 33px;
          padding-top: 32px;
          .title.item {
            grid-column: 1 / span 2;
          }
          .title {
            font-size: 18px;
            font-weight: 600;
            line-height: 29px;
          }
        }
      }
    }
    .tab-collected {
      .sort {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include to(sm) {
          display: block;
        }
        .group-search {
          border: 1px solid #d7d7d7;
          box-sizing: border-box;
          border-radius: 8px;
          margin-right: 22px;
          width: 300px;
          @include to(sm) {
            width: 100%;
            margin-bottom: 10px;
          }
          input {
            border: 0px;
          }
        }
        .price-sort,
        .type-sort {
          @include to(sm) {
            width: 100%;
            margin-bottom: 10px;
          }
          button {
            @include to(sm) {
              width: 100%;
            }
          }
          .css-r6z5ec {
            @include to(sm) {
              width: 90%;
            }
          }
        }
      }
    }
  }
}
.algin-center {
  display: flex;
  align-items: center;
}
