@import "./configs/mixin";
@import "./configs/variables";
@import "./configs/animation";
@import "./configs/chakra-custom";
@import "./components/app-layout";
@import "./components/app-empty";
@import "./components/pageSpinner";
@import "./components/user-tray";
@import "./components/listing";
@import "./components/launchpad-item";
@import "./components/collection-item";
@import "./pages/home";
@import "./pages/details";
@import "./pages/activities";
@import "./pages/discover";
@import url("https://fonts.googleapis.com/css?family=Saira:100,200,300,400,500,600,700,800,900");
@font-face {
  font-family: SVN-Transformer;
  src: url(/fonts/SVN-Transformer.ttf);
}
html {
  scroll-behavior: smooth !important;
}
