@keyframes show-out {
  from {
    right: -100px;
  }
  to {
    right: 0;
  }
}
@keyframes show-off {
  from {
    right: 0px;
  }
  to {
    right: -100px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
